name: sync dev branch
on:
  push:
    branches:
      - master

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Merge master into dev
        run: |
          git fetch origin
          git checkout dev
          git merge origin/master --no-edit
          git push origin dev
